:root {
    --orange: #FF7D00;
    --blue: #15616D;
    --cream: #FFECD1;
    --brown: #78290F;
    --black: #001524;
}

#cart {
    font-size: 2.5rem;
    color: var(--orange);
}

#brand {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height: 100%;
    color: var(--orange);
}

.display-6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.step {
    font-weight: 600;
}

#subtitle {
    font-size: 1.8rem;
    color: var(--orange);
}

.navbar {
    background-color: var(--blue);
    border-bottom: 4px solid var(--brown);
}

.card {
    color: var(--cream);
    background-color: var(--blue);
    border: 4px solid var(--brown);
}

.card .btn {
    background-color: var(--orange);
    color: var(--cream);
}

#viewCart {
    background-color: var(--orange);
    color: var(--cream);
}

.offcanvas {
    background-color: var(--cream);
}

.list-group-item {
    background-color: var(--cream);
    color: var(--black);
    border: 3px solid var(--brown);
}

#startWorkout {
    background-color: var(--orange);
    color: var(--cream);
}