:root {
    --orange: #FF7D00;
    --blue: #15616D;
    --cream: #FFECD1;
    --brown: #78290F;
    --black: #001524;
}

#cart {
    font-size: 2.5rem;
    color: var(--orange);
}

#brand {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height: 100%;
    color: var(--orange);
}

.display-6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.step {
    font-weight: 600;
}

#subtitle {
    font-size: 1.8rem;
    color: var(--orange);
}

.navbar {
    background-color: var(--blue);
}

.card {
    color: var(--cream);
    background-color: var(--blue);
}

.card .btn {
    background-color: var(--orange);
    color: var(--cream);
}

#viewCart {
    background-color: var(--orange);
    color: var(--cream);
}

.offcanvas {
    background-color: var(--cream);
}

.list-group-item {
    background-color: var(--cream);
    color: var(--black);
    border: 2px solid var(--orange);
}

#startWorkout {
    background-color: var(--orange);
    color: var(--cream);
    background-color: var(--orange);
    color: var(--cream);
}

#timer {
    font-size: 25px;
    color: var(--blue);
    text-shadow: 2px 2px 5px var(--orange);
    text-align: center;
}

/* //Dropdown Features Below */

.dropbtn {
    background-color: var(--orange);
    color: var(--cream);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--orange);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: #f1f1f1;
    min-width: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: var(--orange);
  }
  
  .show {display: block;}